div(id="SignUp")
  label Username
    input('[(ngModel)]'="user.Username", placeholder="User Name")/
  label Password
    input('[(ngModel)]'="user.Password", placeholder="Password", type="password")/
  label Email
    input('[(ngModel)]'="user.Email", placeholder="Email",type="Email")/