div(id="login")
  label Username
    input('[(ngModel)]'="user.Username", placeholder="User Name", required)/
  label Password
    input('[(ngModel)]'="user.Password", placeholder="Password", type="password", required)/
  button('(click)'="Login()") Login
  a(href='/SignUp') SignUp