div(id="login")
  label Username)
    input('[(ngModel)]'="user.Username", placeholder="User Name")/
  label Password
    input('[(ngModel)]'="user.Password", placeholder="Password", type="password")/
  button('(click)'="Login()") Login
  button('(click)'="SignUp()") SignUp