<div>
  <label>Email
    <input [(ngModel)]="user.Email" placeholder="Enter Email" />
    <button (click)="UpdateEmail()">Update</button>
  </label>
  <br>
  <label>Phone Number
    <input [(ngModel)]="user.Phone" placeholder="Enter Phone"  />
    <button (click)="UpdatePhone()">Update</button>
  </label>
  <br>
  <label>Allow Text
      <input [(ngModel)]="user.AllowPN" type="checkbox" style="margin-bottom:15px" (click)="UpdateAllowPN()">
  </label>
  <label>Allow Email
      <input [(ngModel)]="user.AllowEN" type="checkbox" style="margin-bottom:15px" (click)="UpdateAllowEN()">
  </label>
</div>

