
  <div *ngIf="notLoggedIn">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label><b>Username</b>
      <input [(ngModel)]="user.Username" placeholder="Enter Username" (blur)="ValidateUser()" required>
    <p *ngIf="UserExist" style="color:red;">Username Exists.</p>
    </label>
    
    <label><b>Password</b>
      <input [(ngModel)]="user.Password" type="password" placeholder="Enter Password" required>
    </label>
    
    <label for="DateOfBirth"><b>Date of Birth</b>
      <input [(ngModel)]="user.DateOfBirth" type="date">
    </label>

    <label for="email"><b>Email</b>
      <input [(ngModel)]="user.Email" type="email" placeholder="XXXX@XXX.XXX" required>
    </label>

    <label>
      <input [(ngModel)]="user.AllowEN" type="checkbox" checked="checked" style="margin-bottom:15px"> Allow Email Notification
      <!-- <p style="color:red;">allowen={{user.AllowEN}}</p> -->
    </label>

    <div>
      <button>Cancel</button>
      <button (click)="CreateAccount()">Sign Up</button>
    </div>
  </div>

  <div *ngIf="LoggedIn">
    <p>UserID {{LoggedInUID}} Logged In!</p>
  </div>