<div class="container-fluid">

  <div id="sign-up-container" class="container mx-auto">
    <div *ngIf="LoggedIn==false">

      <div class="row mx-auto">
        <div class="col-sm-12"><h2>Sign-Up</h2></div>
      </div>

      <br>

      <div class="row mx-auto">
        <label><b>Username</b><br>
          <input [(ngModel)]="user.Username" placeholder="Enter Username" (blur)="ValidateUser()" required>
          <p *ngIf="UserExist" style="color:red;">Username Exists.</p>
        </label>
      </div>

      <div class="row mx-auto">
        <label><b>Password</b><br>
          <input [(ngModel)]="user.Password" type="password" placeholder="Enter Password" required>
        </label>
      </div>

      <div class="row mx-auto">
        <label for="DateOfBirth"><b>Date of Birth</b><br>
          <input [(ngModel)]="user.DateOfBirth" type="date">
        </label>
      </div>

      <div class="row mx-auto">
        <label for="email"><b>Email</b><br>
          <input [(ngModel)]="user.Email" type="email" placeholder="XXXX@XXX.XXX" required>
        </label>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <label>Email Notification</label>
        </div>
        <div class="col-sm-3">
          <input class="mr-4" [(ngModel)]="user.AllowEN" type="checkbox" checked="checked">
          <!-- <p style="color:red;">allowen={{user.AllowEN}}</p> -->
        </div>
      </div>

      <br>
      <div>
        <button>Cancel</button>
        <button (click)="CreateAccount()">Sign Up</button>
      </div>


    </div>

    <div *ngIf="LoggedIn">
        <p>UserID {{LoggedInUID}} Logged In!</p>
    </div>
    
  </div>
</div>